.jumbotron {
    background-color: cadetblue;
    padding: 10px 20px;
    color: white;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
}

body {
    background-image: url(../imgs/spiration-light.png);
}

ul {
    text-decoration: none;
    display: inline;
}

.container {
    width: 960px;
    margin: 30px auto;
    background-color: white;
}

h2 {
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
    color: cadetblue;
    margin: 0 0 0 20px;
}

img {
    float: left;
}

p {
    line-height: 2.1em;
    color: grey;
    clear: both;
}

.footer {
    background-color: #666666;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 30px 0 0 0;
    border-top: 5px cadetblue solid;
    text-align: center;
    color: white;
}

.project {
   position: relative;
   display: inline-block;
   /* padding: 20px 10px 20px 50px; */
   padding: 20px;
}
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 70%;
  }
  
  .container .btn:hover {
    background-color: black;
  }
/*The code below here is exactly the same as what was indicated for the "footer" class, but with the margin-left added,
since the footer on the Portfolio was pushing to the right for some reason.*/
  .footer2 {
    background-color: #666666;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 30px 0 0 0;
    border-top: 5px cadetblue solid;
    text-align: center;
    color: white;
    margin-left: -220px;
  }

  .inputfield {
      height: 200px;
  }